*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    user-select: none;
}
@font-face {
  font-family: "roseFont";
  src: url("../fonts/RegillaPersonalUseOnlyRegular-yYgdY.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.header{
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: nowrap;
    top: 0;
    left: 0;
    padding: 0;
    height: auto;   
    max-height: 4vh;
    width: 100vw;
}
.header::after{
    content: '';
    background: linear-gradient(to right, rgb(9, 9, 119) 60%, rgb(11, 11, 158) 40%,transparent 100%);
    height: 0.25vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.titleBar{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    left: 0;
    height: 4vh;
}
.titleBar img{
    height: 3vh;
    width: 1.5vw;
    margin-left: 0.5vw;
    margin-right: 0.3vw;
}
.titleBar p{
    font-size: clamp(1rem, 1.7rem, 1.9rem);
    font-family: "roseFont", sans-serif;
    color: rgb(48, 29, 117);
}
.navButtons{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    top: 0;
    right: 0;
    margin-right: 5.5vw;
    height: 2vh;
    width: 20vw;
}
.navButtons ul{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}
.navButtons ul li{
    display: inline-block;
    height: 2.5vh;
    width: 1.5vw;
    border-radius: 10%;
    border: 1px solid rgb(9, 9, 119);
}
.navButtons ul li button img{
    height: 2vh;
    width: 1.5vw;
}
.navButtons ul li button img:hover{
    height: 2vh;
    width: 1.5vw;
}
.navButtons ul li button img{
   max-width: 100%;
   max-height: 100%;
}

/* .navButtons{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    position: relative;
    align-items: center;
    height: auto;
    width: auto;
    top: 0;
    right: 0;
    margin-right: 0.5vw;
}
.navButtons ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    gap: 0.5vw;
    margin-left: 20px;
    margin-right: 20px;
}
.navButtons ul li{
    display: inline-block;
    height: 2.5vh;
    width: 1.5vw;
    border-radius: 10%;
    border: 1px solid rgb(9, 9, 119);
    text-decoration: none;
}
.navButtons ul li button{
    cursor: pointer;
    height: fit-content;
    width: fit-content;
}
.navButtons ul li button img{
    justify-content: center;
    position: relative;
    align-self: center;
    height: 2vh;
    width: 1.5vw;
} */