*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: titleFont;
  src: url("../fonts/mainFont.ttf") format("truetype");
  font-weight: normal;
}
html {
  font-family: titleFont, sans-serif;
  font-size: 12px;

  background-color: #3d3d3d;
}
.mainContainer {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(32, 1fr);
  position: relative;
  height: 98vh;
  width: 100vw;
  margin: auto;
  overflow: hidden;
}
.sideBar {
  grid-row: 1 / span 32;
  grid-column: 1 / span 1;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: auto;
  left: 0;
  top: 0;
  gap: 10px;
  background-color: #3d3d3d;
}
.sideBar,
.titleHeader,
.contentContainer {
  transition: transform 0.3s ease-in-out;
}

.sideBar.expanded {
  width: calc(100% + 200px);
}
.mainContainer.sidebar-expanded .titleHeader,
.mainContainer.sidebar-expanded .contentContainer {
  transform: translateX(200px);
  width: calc(100% - 200px);
  transform-origin: left;
}

.sideBar .burgerButtonHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 5%;
  width: 100%;
  user-select: none;
  transition: transform 0.25s ease-in-out;
  padding-right: 15px;
  padding-left: 15px;
}

.burgerButtonHolder .menuText {
  position: absolute;
  left: 20px;
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.3s, transform 0.3s;
  white-space: nowrap;
  pointer-events: none;
  letter-spacing: 4px;
}

.sideBar.expanded .burgerButtonHolder .menuText {
  opacity: 1;
  transform: translateX(0);
}
.sideBar > button {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 40px;
  padding: 2px;

  background: transparent;
  border: none;
  user-select: none;
  cursor: pointer;
  transition: transform 0.25s ease;
  padding-left: 22px;
}
.mainContainer.sidebar-expanded .sideBar > button {
  transform-origin: left;
}
.sideBar > button > img:hover {
  transform: scale(1.05);
}
.sideBar > button:hover,
.sideBar > button:focus,
.sideBar > button:active {
  background-color: #1f1e1e;
  border-right: #1f1e1e solid 4px;
  outline: none;
}

.sideBar > button > img {
  width: auto;
  height: 60%;
  object-fit: contain;

  transition: transform 0.25s ease-in-out;
}
#logoutButton img {
  filter: brightness(0) invert(1);
  transition: 0.3s ease-in-out;
}

#logoutButton:hover img {
  filter: brightness(0) invert(11%) sepia(94%) saturate(7500%) hue-rotate(-5deg)
    brightness(80%) contrast(120%);
}
.sideBar > button:hover > img {
  transform: scale(1.3);
}
.sideBar > button > .buttonText {
  display: none;
  color: white;
  font-size: 1.2rem;
  margin-left: 10px;
  white-space: nowrap;
}
.sideBar.expanded > button > .buttonText {
  display: inline-block;
}
.sideBar > button > .buttonText {
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 0.3s, transform 0.3s;
  font-size: larger;
  margin-left: 10px;
}

.sideBar.expanded > button > .buttonText {
  opacity: 1;
  transform: translateX(0);
}
.titleHeader {
  grid-column: 2 / span 32;
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  user-select: none;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #3d3d3d;
  padding-left: 10px;
}
.titleHeader > img {
  width: 2rem;
  height: 2rem;
}
.titleHeader > h2 {
  font-family: titleFont, sans-serif;
  color: white;
  font-size: 1.75rem;
  letter-spacing: 3px;
}
.contentContainer {
  grid-column: 2 / span 32;
  grid-row: 2 / span 32;
  display: grid;
  grid-template-columns: repeat(64, 1fr);
  grid-template-rows: repeat(32, 1fr);
  height: 100%;
  width: 100%;
  box-shadow: inset 2px 0 12px rgba(0, 0, 0, 0.35);
  user-select: none;
  border-radius: 10px 0 0 10px;
  background-color: #1f1e1e;
}
.footerDetails {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 2vh;
  width: 100vw;
  background-color: #3d3d3d;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 4px;
  background-color: #faf4f4;
  margin: 4px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 8px) rotate(-40deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -8px) rotate(40deg);
}
