.exams-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  user-select: none;
}

.exams-popup {
  width: 60%;
  height: 50%;
  background-color: #1c1c1c;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
  user-select: none;
}
.exams-add-popup {
  width: 20%;
  height: 20%;
  background-color: #1c1c1c;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
  user-select: none;
}

.exams-popup-title {
  margin-bottom: 15px;
}

.exams-popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  color: #cacaca;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 8px;
  border: none;
  transition: transform 0.2s ease-in-out;
}
.exams-popup-close:hover {
  transform: scale(1.2);
}
.exams-popup-content {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 90%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.exams-note {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  border-top: 1px solid #cacaca;
}
.exams-popup-add-notes {
  position: relative;
  height: auto;
  width: 100%;
  background: transparent;
  color: #cacaca;
  cursor: pointer;
  border: none;
  padding-top: 8px;
  transition: transform 0.2s ease-in-out;
}
.exams-popup-add-notes::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #cacaca;
}
.exams-popup-add-notes:hover {
  transform: scale(1.05);
}
.exams-add-popup-content {
  height: 50%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  user-select: none;
}
.exams-add-popup-input {
  background-color: transparent !important;
  width: 90%;
  margin: 5px auto;
  padding: 6px 0;
  border: none;
  border-bottom: 2px solid #cacaca;
  background: transparent;
  font-size: 1rem;
  outline: none;
  color: #cacaca;
}
.exams-add-popup-save {
  margin-top: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  height: auto;
  background-color: transparent;
  color: #cacaca;
  border-radius: 4px;
  float: right;
  margin-right: 15px;
  border: none;
  transition: transform 0.2s ease-in-out;
}
.exams-add-popup-save:hover {
  transform: scale(1.2);
}
.exams-popup-add-question-button {
  position: absolute;
  top: 10px;
  right: 100px;
  font-size: large;
  background: transparent;
  color: #cacaca;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 8px;
  border: none;
  transition: transform 0.2s ease-in-out;
}
.exams-popup-add-question-button:hover {
  transform: scale(1.2);
}
