.export-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  user-select: none;
}

.export-popup {
  width: 60%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(32, 1fr);
  background-color: #1c1c1c;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
  user-select: none;
}
.export-add-popup {
  width: 20%;
  height: 20%;
  background-color: #1c1c1c;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
  user-select: none;
}

.export-popup-title {
  margin-bottom: 15px;
}

.export-popup-close {
  position: absolute;
  top: 18px;
  right: 15px;
  background: transparent;
  color: #cacaca;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 8px;
  border: none;
  transition: transform 0.2s ease-in-out;
}
.export-popup-close:hover {
  transform: scale(1.05);
}
.export-question-editor {
  grid-row: 20 / span 12;
  grid-column: 1 / span 17;
  height: 100%;
  width: 100%;
  display: grid;
  padding: 10px;
}
.editor-section {
  margin-bottom: 15px;
  color: white;
  font-family: sans-serif;
}

.editor-id {
  font-size: 15px;
  margin-bottom: 3px;
}

.editor-label {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 3px;
}

textarea {
  width: 100%;
  min-height: 60px;
  background: transparent;
  border: none;
  color: white;
  resize: none;
  outline: none;
  font-size: 14px;
}

.editor-actions {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 25px;
}
.editor-button-Area {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  background-color: transparent;
  border: 1px solid white;
}
.editor-remove,
.editor-save {
  background-color: transparent;
  border: none;
  color: white;
}
.editor-actions button {
  background: transparent;
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
}
.export-popup-content {
  grid-row: 2 / span 30;
  grid-column: 18 / span 16;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-bottom: 10px;
  padding-left: 10px;
  border-left: 1px solid white;
}
.export-popup-content::-webkit-scrollbar {
  display: none;
}

.export-popup-content::after {
  content: "";
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(28, 28, 28, 0),
    rgba(28, 28, 28, 0.4)
  );
}
.export-popup-title {
  grid-column: 1 / span 20;
}
.export-popup-content {
  scroll-behavior: smooth;
  cursor: grab;
}
.export-popup-content:active {
  cursor: grabbing;
}
.export-question-modify {
  border: none;
  background-color: transparent;
  color: white;
  transition: transform 0.2s ease-in-out;
  font-size: small;
}
.export-question-modify:hover {
  transform: scale(1.15);
}
.export-note {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  border-top: 1px solid #cacaca;
}
.export-question-row {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.export-question-row::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #cacaca;
}
.export-popup-generate {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  color: #cacaca;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  transition: transform 0.2s ease-in-out;
}
.export-popup-generate::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #cacaca;
}
.export-popup-generate:hover {
  transform: scale(1.15);
}
.export-popup-add-notes {
  position: relative;
  height: auto;
  width: 100%;
  background: transparent;
  color: #cacaca;
  cursor: pointer;
  border: none;
  padding-top: 8px;
  transition: transform 0.2s ease-in-out;
}
.export-popup-add-notes::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #cacaca;
}
.export-popup-add-notes:hover {
  transform: scale(1.05);
}
.export-add-popup-content {
  height: 50%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  user-select: none;
}
.export-add-popup-input {
  background-color: transparent !important;
  width: 90%;
  margin: 5px auto;
  padding: 6px 0;
  border: none;
  border-bottom: 2px solid #cacaca;
  background: transparent;
  font-size: 1rem;
  outline: none;
  color: #cacaca;
}
.export-add-popup-save {
  margin-top: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  height: auto;
  background-color: transparent;
  color: #cacaca;
  border-radius: 4px;
  float: right;
  margin-right: 15px;
  border: none;
  transition: transform 0.2s ease-in-out;
}
.export-add-popup-save:hover {
  transform: scale(1.2);
}
.export-popup-add-question-button {
  position: absolute;
  top: 15px;
  right: 60px;
  height: 20px;
  width: auto;
  font-size: large;
  background: transparent;
  color: #cacaca;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 8px;
  border: none;
  transition: transform 0.2s ease-in-out;
}
.export-popup-add-question-button:hover {
  transform: scale(1.2);
}
