.export-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  user-select: none;
}

.export-popup {
  width: 60%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(32, 1fr);
  background-color: #1c1c1c;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
  user-select: none;
}

.export-popup-title {
  margin-bottom: 15px;
}

.export-popup-close {
  position: absolute;
  top: 18px;
  right: 15px;
  background: transparent;
  color: #cacaca;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 8px;
  border: none;
  transition: transform 0.2s ease-in-out;
}
.export-popup-close:hover {
  transform: scale(1.05);
}

.export-popup-content {
  grid-row: 2 / span 30;
  grid-column: 18 / span 17;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-bottom: 10px;
  padding-left: 10px;
}
.export-popup-content::-webkit-scrollbar {
  display: none;
}

.export-popup-content::after {
  content: "";
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(28, 28, 28, 0),
    rgba(28, 28, 28, 0.4)
  );
}
.export-popup-title {
  grid-column: 1 / span 20;
}
.export-popup-content {
  scroll-behavior: smooth;
  cursor: grab;
}
.export-popup-content:active {
  cursor: grabbing;
}
.export-popup {
  position: relative; /* required for absolute children */
}

.export-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #cacaca;
  background-color: transparent;
  padding: 10px 16px;
  cursor: pointer;
  border: 1px solid #cacaca;
  justify-content: center;
  align-items: center;
}
.export-button:hover {
  transform: scale(1.1);
  border-color: #ffcc00;
}
.export-button:active {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: #ffaa00;
}
.export-button {
  user-select: none;
}
.export-preview-panel {
  grid-row: 2 / span 31;
  grid-column: 1 / span 17;
  padding: 10px;
  border: 1px solid white;
  overflow-y: auto;
  color: white;
}
